name: fristjob
on: push
jobs:
    job1:
        name: frist job
        runs-on: windows-lastest
        steps:
            - name: step one
              uses: action/checkout@v2
            - name: step two
              run: "Get-ChildItem Env: | Sort-Object Name"
    job2:
        name: second job
        runs-on: ubuntu-lastest
        steps:
            - name step one
              uses: action/checkout@v2
            - name step two
              run: env | sort
